CVS/
Data/base_g_wob000_2008b_survey.db
Data/base_g_wob025_2008b_survey.db
Data/base_g_wob050_2008b_survey.db
Data/base_g_wob05_2008.db
Data/base_g_wob05_2008_lza.db
Data/base_g_wob075_2008b_survey.db
Data/base_g_wob100_2008b_survey.db
Data/base_g_wob125_2008b_survey.db
Data/base_g_wob150_2008b_survey.db
Data/base_optics_2008_lza.ini
Data/base_optics_2008_survey.dump
Data/base_optics_2008_sza.ini
Data/bernlohr_atmprof6.dat
Data/cors_falcone_double_mirror.dat
Data/cors_falcone_mirror.dat
Data/corsika_atmabs.dat
Data/corsika_mirreff.dat
Data/corsika_quanteff.dat
Data/corsika_quanteff_array.dat
Data/daniel_atmabs.dat
Data/daniel_tropical.50km.dat
Data/daniel_tropical.50km.ext
Data/daniel_us76.50km.dat
Data/daniel_us76.50km.ext
Data/falcone_double_mirror.dat
Data/falcone_mirror.dat
Data/finley_quaneff.dat
Data/finley_quaneff_array.dat
Data/he_astro_dc_optics.ini
Data/he_astro_dc_optics_f2.ini
Data/he_astro_dc_optics_f3.ini
Data/he_astro_flyseye_g.db
Data/he_astro_flyseye_g_f2.db
Data/he_astro_flyseye_g_f3.db
Data/he_astro_parallel_g.db
Data/matlab_data.mat
Data/meyer_finley_quanteff_spread_2005.dat
Data/upgrade_study_g_wob050_2008.db
Data/upgrade_study_g_wob050_hess.db
Data/upgrade_study_g_wob050_ideal.db
Data/upgrade_study_optics_2008.ini
Data/upgrade_study_optics_hess.ini
Data/upgrade_study_optics_ideal.ini
Data/veritas_avg_mirror_080221.dat
Data/veritas_avg_mirror_090909.dat
Data/veritas_base_g_0.5wobble.db
Data/veritas_base_g_isotropic.db
Data/veritas_base_g_onaxis.db
Data/veritas_base_optics_sza.dump
Data/veritas_base_optics_sza.ini
Data/veritas_base_p_isotropic.db
Data/veritas_kpno_optics_ideal.ini
Data/veritas_kpno_optics_sza.ini
Data/veritas_mxsn_optics_sza.dump
Data/veritas_mxsn_optics_sza.ini
Data/veritas_mxspm_g_onaxis.db
Data/veritas_mxspm_optics_sza.dump
Data/veritas_mxspm_optics_sza.ini
*.o
*~
*.so
*.a
StandardFiles/
TODO
VSElectronics/config
VSElectronics/RandomSeeds
VSElectronics/
VSDataReduction/39132.cvbf
VSDataReduction/extract_egy_kernel
